*{  margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.borde {    border: solid black 1px;
}

.bg-ff {    background: #cc9966;
}


.bg-gris {  background-color: #E6DFDC;
}

.border-white {
    border-bottom: 1px white solid;
    border-top: 1px white solid;
}

.checkout {
    max-height:65%;
    overflow-y: scroll;
}

img {   max-width: 100%;
}

a {
    text-decoration: none;
}

.info {
    list-style:none;
}

/*
---------------------------------------------------------------------------------------------------------------------
    -    -    -    -    -    -    -    -    -    -header-    -    -    -    -    -    -    -    -    -    -    -
---------------------------------------------------------------------------------------------------------------------
*/
.logo-head {   background:url(../img/icons/logo-head.png) no-repeat center center;
    height:55px ;
    width: 200px;
    margin-bottom: 0;
}

header {    background: #BF7128;
}

h1 {    font-size: 4em;
        width: 100%;
        color: black;
        text-align: center;
}
/*
---------------------------------------------------------------------------------------------------------------------
    -    -    -    -    -    -    -    -    -    -MiniCarrito-    -    -    -    -    -    -    -    -    -    -    -
---------------------------------------------------------------------------------------------------------------------
*/

#minicarrito {
    width: 98%;
    border-radius: 10px;
}

#minicarrito div {
    background-color: #996633;
    border-radius: 10px;
    max-width: 220px;
    display: flex;
    align-items: center;
    padding: .6em;
}

.unidad {
    /* background-color: black; */
    background: #BF7128;
    color: white;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius:20px;
    text-align: center;
    display: inline-block;
}
.precio {
    background: #BF7128;
    color: white;
    height: 40px;
    text-align: center;
    padding: .5em;
    border-radius:10px;
    margin-right: .8em;
    margin-left: .8em;
}
#carrito {
    background-image: url("../img/icons/Carrito.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #BF7128;
    border-radius: 10px;
    width: 50px;
    height: 40px;
}

/* ---------------------------------------------------------------------------------------------------------------------
    -    -    -    -    -    -    -    -    -    -Productos-    -    -    -    -    -    -    -    -    -    -    -
---------------------------------------------------------------------------------------------------------------------
*/

 #productos {   display: none;
 }

.resumen {      text-align: right;
                margin-top: -1em;
                padding-top: .5em;
                padding-bottom: 1em;
                padding-right: 1em;
}

.resumen div p {    font-size: 1.5em;
}

#cards/* section */ {   display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 1100px;
            margin: auto;
}

.cards img {    border-top-left-radius: 20px;
                border-top-right-radius: 20px;
}

.cards {    border-radius: 20px;
            margin: 1em;
            padding-bottom: 1.5em;
            text-align: center;
            display: flex;
            width: 320px;
            flex-wrap: wrap;
}
.cards-img {    width: 320px;
                order:1;
}
.cards-detalle {    width: 320px;
                    order: 2;
}

.cards-detalle h2 { margin-top: .5em;

}

button:last-child {
    margin-left: .5em;
}
.cards p {  text-align: right;
            margin-right: 10%;
            font-size: 1.2em;
}

.cards p span {     font-weight: bold;
}


/*
---------------------------------------------------------------------------------------------------------------------
    -    -    -    -    -    -    -    -    -    -Ampliar-Producto-    -    -    -    -    -    -    -    -    -    
---------------------------------------------------------------------------------------------------------------------
*/

.card_ampliado {
    margin: auto;
    margin-top: 3em;
}



/*
---------------------------------------------------------------------------------------------------------------------
    -    -    -    -    -    -    -    -    -    -Adm-Productos-    -    -    -    -    -    -    -    -    -    -    -
---------------------------------------------------------------------------------------------------------------------
*/
.table-img{     width: 70px;
                height: 70px;
}
/*
---------------------------------------------------------------------------------------------------------------------
    -    -    -    -    -    -    -    -    -    -Footer-    -    -    -    -    -    -    -    -    -    -    -
---------------------------------------------------------------------------------------------------------------------
*/
footer {    margin-top: 2em;
            background-color: #3F2713;
}

.foot {     border-radius: 15px;
            box-shadow: 0px 5px 20px black;
            width: 250px;
            background-color: white;
}

.logo-footer {  background:url(../img/icons/logo-foot.png) no-repeat center center;
                width: 250px;
                height: 70px;
                display: flex;
                
}

.redes li {     margin-right: .2em; 
    display: inline-block;  
}

.face {     background: url(../img/icons/facebook_pc.png) center center no-repeat ;
}

.insta {    background: url(../img/icons/instagram_pc.png) center center no-repeat ;
}

.youtube {    background: url(../img/icons/youtube_pc.png) center center no-repeat ;
}

.info li {
    color: white;
}

.info li a  {   color: white;
                font-weight: 300;
                font-size: 1.1em;
                display: inline-block;
                vertical-align: middle;
                color: white;
}

.mapa {     background: url(../img/icons/mapa_pc.png) 0 center no-repeat;
            background-color: white;
}

.gmail{     background: url(../img/icons/mail_pc.png) 0 center no-repeat;
            width:40px ;
            height:35px ;
            margin-right: 1em;
            display: flex;
}

.face, .insta, .youtube, .mapa {     width: 40px;
                                    height: 40px;
                                    display: flex;
                                    box-shadow: 10px 5px 15px black;
                                    margin-right: 1em;
                                    border-radius: 5px;
}

footer div p {      text-align: center; 
}

@media screen and (max-width: 768px) {

/*
---------------------------------------------------------------------------------------------------------------------
    -    -    -    -    -    -    -    -    -    -Detalle de Producto-    -    -    -    -    -    -    -    -    -  
---------------------------------------------------------------------------------------------------------------------
*/
    .card_ampliado {
                    max-width: 320px;
                    border-top-left-radius:20px ;
                    border-top-right-radius:20px ;
    }
    .card_ampliado img {
        border-top-left-radius:20px ;
        border-top-right-radius:20px ;
    }

}
@media screen and (min-width: 769px) {

/*
---------------------------------------------------------------------------------------------------------------------
    -    -    -    -    -    -    -    -    -    -Header-    -    -    -    -    -    -    -    -    -    -    -
---------------------------------------------------------------------------------------------------------------------
*/
    #navbarNavAltMarkup {
        margin-left: 2em;
    }
/*
---------------------------------------------------------------------------------------------------------------------
    -    -    -    -    -    -    -    -    -    -Detalle de Producto-    -    -    -    -    -    -    -    -    - 
---------------------------------------------------------------------------------------------------------------------
*/
    .card_ampliado {
        display: flex;
        max-width: 760px;
    }

    .card_ampliado img {
        max-width: 400px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .detalle {
        width: 400px;

    }
}
